@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: FormulaCondensed;
    src: url('../public/fonts/FormulaCondensed-Bold.ttf');
}


body {
    margin: 0;
  }
  

  h3,a{
    font-family: FormulaCondensed;
  }
  .navigation-wrapper {
    position: relative;
  }
  
  .dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
  }
  
  .dot {
    font-size: 12px;
    color: #F0E6CC;
    line-height: 0;
    font-weight: 700;
    border-color: rgba(223, 23, 23, 0.863);
    border: 2px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot.active {
    border-color: #F0E6CC;
    border: 2px solid;
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
  }
  